P{
    text-align: center;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 4px;
    overflow: hidden;
   justify-items: center; 
   border-top:5px solid black;
    border-bottom: 2px solid rgb(124, 120, 120);
    max-width: 600px;
  }
  li {
    display: flex;
    display: inline;
     }
 
  li a {
    /* display: block; */
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: large;
    justify-items: center;
    
    
  }
  
  li a:hover {
    color: hsl(0, 100%, 50%);
    
  }